# Day22 Programers

Day22_1 : 0 떼기

In [ ]:
def solution(n_str):    
    idx = 0
    for i, str in enumerate(n_str):
        if not str == '0':
            idx = i
            break
    
    return n_str[idx:]

# return n_str.strip('0') 00009812312401231000 ->  9812312401231
# return n_str.lstrip('0') 00009812312401231000 -> 9812312401231000
# return n_str.rstrip('0') 00009812312401231000 -> 00009812312401231

Day22_2 : 두 수의 합

In [ ]:
def solution(a, b):
    return str(int(a) + int(b))

Day22_3 : 문자열로 변환

In [ ]:
def solution(n):
    return str(n)

Day22_4 : 배열의 원소 삭제하기

In [ ]:
def solution(arr, delete_list):
    return [num for num in arr if num not in delete_list]

Day22_5 : 부분 문자열인지 확인하기

In [ ]:
def solution(my_string, target):
    return int(target in my_string)

# Day23 Programers

Day23_1 : 부분 문자열

In [ ]:
def solution(str1, str2):
    return int(str1 in str2)

Day23_2 : 꼬리 문자열

In [ ]:
def solution(str_list, ex):
    answer = ''
    for str in str_list:
        if not ex in str:
            answer += str
    return answer

#   return ''.join([i for i in str_list if ex not in i])

Day23_3 : 정수 찾기

In [ ]:
def solution(num_list, n):
    return int(n in num_list)

Day23_4 : 주사위 게임1

In [ ]:
def solution(a, b):
    if a % 2 == 0 and b % 2 == 0:
        return abs(a-b)
    elif a % 2 == 1 and b % 2 == 1:
        return a*a + b*b
    else:
        return 2 * (a + b)

Day23_5 : 날짜 비교하기

In [ ]:
def solution(date1, date2):
    
    for i in range(3):
        if date1[i] < date2[i]:
            return 1
        elif date1[i] > date2[i]:
            return 0
        
    return 0

# return int(date1 < date2)